<div class="form-group row">
 
  <div class="col-xs-10">
    <input class="form-control" type="search" placeholder="Title" id="title-input">
  </div>
   <div class="col-xs-10">
    <input class="form-control" type="search" placeholder="Description" id="description-input">
  </div>
   <div class="col-xs-10">
    <input class="form-control" type="search" placeholder="Img url" id="img-input">
  </div>
  <a id="btn-post" class="btn btn-lg btn-default">Post</a>
</div>